@import 'variable';
@import 'animation';
@import 'mixins';
@import 'sprites/spaceCraft';

* {
  box-sizing: border-box;
  position: relative;
}

body {
  background: #fafafa;
  @include webFont();
  height: 100%;
  overflow: hidden;
  &.initial {
    height: 100vh;
  }
}

h1, h2, h3, h4,
*.header {
  margin: 10px 0;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  &.title {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    // border-bottom: 1px solid #898989;
    .line {
      width: 100%;
      height: 1px;
      background-color: #898989;
      margin-top: 1rem;
    }
  }
}

h3 {
  font-size: 1.8rem;
  &.title {
    padding-bottom: 1rem;
    border-bottom: 1px solid #898989;
  }
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  outline: 0;
}

p {
  line-height: 1.5rem;
}

input, textarea {
  @include webFont();
  &:focus, &:active {
    outline: none;
  }
}

textarea {
  resize: none;
}

.source {
  display: none;
}

#loading {
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 999;
}

.uil-ripple-css {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    border-width: 12px;
    border-style: solid;
    animation: uil-ripple 2s ease-out infinite;
    &:nth-of-type(1) {
      border-color: #afafb7;
    }
    &:nth-of-type(2) {
      // border-color: #5cffd6;
      border-color: #5ccdff;
      animation-delay: 1s;
    }
  }
}

#particle-js {
  @include AbsElem($fill: true);
  z-index: 1;
  pointer-events: none;
}

.top-static-bg {
  $scale: 1;
  @include AbsElem();
  display: block;
  background-image: url($img_path + "top_logo.png");
  background-position: 0 -125px;
  background-repeat: no-repeat;
  width: 273px * $scale;
  height: 165px * $scale;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  &::before {
    @include AbsElem($pseudo: true);
    display: block;
    background-image: url($img_path + "top_logo.png");
    background-position: 0 -290px;
    background-repeat: no-repeat;
    width: 273px * $scale;
    height: 165px * $scale;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: .85s;
    opacity: 0;
  }
  &.bright::before {
    opacity: 1;
  }
  .image {
    display: block;
    position: absolute;
    background-image: url($img_path + "top_logo.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 196px * $scale;
    height: 125px * $scale;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 !important;
    img {
      width: 100%;
    }
  }
}

$menu-height: 3.5rem;
#menu {
  display : flex;
  position: absolute;
  left    : 0;
  bottom  : 0;
  right   : 0;
  z-index : 99;
  opacity: 0;
  transform: translate(0,56px);
  li {
    flex: 1;
    @include EasyCenter();
    text-align: center;
    background: #10121b;
    height: $menu-height;
    // transition: .85s;
    &::before {
      @include AbsElem($pseudo: true);
      width: 0;
      height: 0;
      left: 50%;
      bottom: 100%;
      margin-left: -20px;
      opacity: 0;
      border: solid transparent;
      border-bottom-color: #10121b;
      border-width: 20px;
      pointer-events: none;
      // transition: border .85s;
    }
    a {
      display: block;
      @include AbsElem($fill: true);
      width: 100%;
      line-height: $menu-height;
      font-size: 1.25rem;
      color: #fff;
    }
    &.active {
      &::before {
        opacity: 1;
      }
    }
  }
  &.bright {
    li {
      background: #e9e9e9;
      &::before {
        border-bottom-color: #e9e9e9;
      }
      a {
        color: #000;
      }
    }
  }
}

.section {
  .fp-tableCell {
    position: relative;
  }
  .container {
    position: relative;
    max-width: 100%;
    z-index: 2;
  }
  &:nth-child(odd) {
    background: url($img_path + "bg_light.png") 0 0 no-repeat;
    background-size: cover;
    color: #222;
  }
  &:nth-child(even) {
    background: url($img_path + "bg_dark.png") 0 0 no-repeat;
    background-size: cover;
    color: #fff;
  }
  &#page1 {
    @import "pages/page1";
    .fp-tableCell {
      overflow: hidden;
    }
  }
  &#page2 {
    @import "pages/page2";
  }
  &#page3 {
    @import "pages/page3";
  }
  &#page4 {
    @import "pages/page4";
    .fp-tableCell {
      overflow: hidden;
    }
  }
  &#page5 {
    @import "pages/page5";
  }
}

iframe {
  overflow: hidden;
}

.chat-panel {
  @include EasyCenter();
  justify-content: space-around;
  position: absolute;
  bottom: 56px;
  right: 0;
  width: 180px;
  height: 30px;
  background-color: #0084ff;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transform: translateY(56px);
  z-index: 20;
  &-logo {
    width: 30px;
    height: 30px;
    img {
      width: 100%;
    }
  }
  &-title {
    padding-right: 10px;
    span:last-child {
      display: none;
    }
  }
  &:hover {
    background-color: #399af4;
  }
}

.chat-box {
  display: none;
  position: absolute;
  background-color: #fff;
  bottom: 56px;
  right: 5px;
  width: 280px;
  height: 390px;
  overflow: hidden;
  z-index: 100;
  &-title  {
    background-color: #0084ff;
    text-align: center;
    height: 28px;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #0557a3;
    }
  }
}
.fb-page.fb_iframe_widget {
  // iframe {
  //   position: absolute;
  //   bottom: 75px;
  //   right: 0;
  //   z-index: 100;
  // }
}

.mejs__overlay-button {
  background: url($img_path + "mejs-controls.svg") no-repeat;
}
.mejs__overlay-loading-bg-img {
  background: transparent url($img_path + "mejs-controls.svg") -160px -40px no-repeat;
}
.mejs__button > button {
  background: transparent url($img_path + "mejs-controls.svg") no-repeat;
}

@media (min-width: 550px) {
  .container {
    width: 100% !important;
  }
  .column, .columns {
    min-height: 1px;
  }
}

@media (max-width: 768px) {
  h1.title {
    font-size: 2rem;
  }
  .uil-ripple-css {
    width: 160px;
    height: 160px;
    div {
      border-width: 10px;
    }
  }
  .top-static-bg {
    transform: scale(.75);
    transform-origin: top;
  }
  #menu {
    &.typing {
      display: none;
    }
    li {
      height: 3rem;
      a {
        font-size: 1rem;
        line-height: 3rem;
      }
    }
  }
  .chat-panel {
    left: 15px;
    bottom: 75px;
    width: 90px;
    &-title {
      span:first-child {
        display: none;
      }
      span:last-child {
        display: inline-block;
      }
    }
  }
  .chat-box {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    &-title {
      height: 42px;
      line-height: 42px;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 550px) {
  h1.title {
    font-size: 1.75rem;
  }
  .uil-ripple-css {
    width: 120px;
    height: 120px;
    div {
      border-width: 8px;
    }
  }
  #menu {
    li {
      a {
        font-size: .85rem;
      }
    }
  }
  .top-static-bg {
    transform: scale(.5);
    transform-origin: top;
  }
}