mixin demoVideo()
  .video-container
    video#demo-video(
      width="560"
      height="315")
      source(src="https://www.youtube.com/watch?v=8P0Vmpr5Sm0" type="video/youtube")
    //- iframe#demo-iframe(width="560" height="315" src="" frameborder="0" allowfullscreen scrolling="no")