mixin demoVideo()
  .video-container
    iframe#demo-video(
      class="mejs-player"
      width="840"
      height="540"
      src="")
    .video-description
      .source
        h3.title 影片標題
        p.content 影片簡介
      .dest
        h3.title(default-text="Loading...") Loading...
        p.content