mixin techTwoColumn()
	.tech-column-list
		img(src="./assets/images/Software.png", alt="image not found")
		//- .tech-row
		//- 	div.t1
		//- 	div.t2
		//- .tech-row
		//- 	div.t3
		//- 	div.t4
		//- .tech-row
		//- 	div.t5
		//- 	div.t6
		//- .tech-row
		//- 	div.t7
		//- 	div.t8
		//- .tech-row
		//- 	div.t9
		//- 	div.t10