mixin techCarousel()
	.tech-carousel-container
		.cloud9-carousel
			img.cloud9-item(src='./assets/images/software/ZBrush-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/autodesk-3ds-max-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/iClone6-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/AI-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/AE-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/PS-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/Spine-2D-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/unity-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/Substance-Designer-logo.jpg', alt='image not found')
			img.cloud9-item(src='./assets/images/software/Substance-Painter-logo.jpg', alt='image not found')