extends ../layouts/layout
include ../mixins/contactForm
include ../mixins/techCarousel
include ../mixins/techTwoColumn
include ../mixins/topImage
include ../mixins/projects
include ../mixins/demoVideo
include ../mixins/demoVideoPrompt
include ../mixins/spaceCraft

block content
	//- +spaceCraft()
	+topImage()
	#fullpage
		.section#page1(data-anchor="index")
			.container
				.row
					.one.column
					.ten.columns
						.title-segment
							.image-title.zh-tw
							.image-title.en
					.one.column
		.section#page2(data-anchor="tech")
			.container
				.row
					.two.columns
					.eight.columns.main-column
						.tech-container.left
							.segment
								.title
								.image
								p 2D動畫
								p 3D動畫
								p 影音剪輯
							.segment
								.title
								.image
								p APP
								p 桌上型網頁
								p 響應式網頁
						.tech-container.right
							.segment
								.title
								.image
								p 商品攝影
								p 影像優化
								p 影音錄製
							.segment
								.title
								.image
								p 企業商標
								p DM印刷
								p 名片設計
					.two.columns
		.section#page3(data-anchor="intro")
			.container
				.row
					.one.column
					.five.columns
						.proc-container
							.proc-segment
								img(src="./assets/images/proc/a.png" step="1")
							.proc-segment
								img(src="./assets/images/proc/b.png" step="2")
							.proc-segment
								img(src="./assets/images/proc/c.png" step="3")
							.proc-segment
								img(src="./assets/images/proc/d.png" step="4")
							.proc-detail
								img(src="./assets/images/proc/e.png")
								.msg(step='1')
									.source
										p.header 報價簽約
										p.content 保障雙方合作權益，訂定一套服務流程，有效管理各個設計專案。
									.dest
										p.header
										p.content
								.msg(step='2')
									.source
										p.header 需求討論
										p.content 確實了解客戶需求並進行草圖提案，確立產品設計走向與品質。
									.dest
										p.header
										p.content
								.msg(step='3')
									.source
										p.header 設計製作
										p.content 定期回報進度與修正。
									.dest
										p.header
										p.content
								.msg(step='4')
									.source
										p.header 準時交件
										p.content 掌握時間進度與設計方向，準時交件，開心結案。
									.dest
										p.header
										p.content
					.five.columns
						.intro-segment
							h3.title 關於威萊  WiLai
							p 「威萊動畫視覺設計有限公司」提供了高品質的動畫視覺效果，為您帶來的視覺生活的饗宴。
							p 我們的服務特色產品動畫，視覺效果，動作設計，虛擬現實的研究開發。
							p 並且提供企業識別 、網頁版面、活動文宣等各類平面視覺設計、影音應用之設計服務，
								| 期待為您的創業團隊或公司企業創造新穎的品牌風格。
						.intro-segment
							h3.title 技術支援
							+techCarousel()
							+techTwoColumn()
					.one.column
		.section#page4(data-anchor="demo")
			+projects()
			.container
				.row
					//- .three.columns.aside-column
					//- .six.columns.main-column
			+demoVideo()
					//- .three.columns.aside-column
			+demoVideoPrompt()
		.section#page5.fp-normal-scroll(data-anchor="contact")
			.container
				.row.reverse-order
					.four.columns
					//- .five.columns.map-column
						//- #map-container
					.four.columns.form-column
						+contactForm()
					.four.columns
