.Earth2-sprite, .Earth2-Earth_00000, .Earth2-Earth_00001, .Earth2-Earth_00002, .Earth2-Earth_00003, .Earth2-Earth_00004, .Earth2-Earth_00005, .Earth2-Earth_00006, .Earth2-Earth_00007, .Earth2-Earth_00008, .Earth2-Earth_00009, .Earth2-Earth_00010, .Earth2-Earth_00011, .Earth2-Earth_00012, .Earth2-Earth_00013, .Earth2-Earth_00014, .Earth2-Earth_00015, .Earth2-Earth_00016, .Earth2-Earth_00017, .Earth2-Earth_00018, .Earth2-Earth_00019, .Earth2-Earth_00020, .Earth2-Earth_00021, .Earth2-Earth_00022, .Earth2-Earth_00023, .Earth2-Earth_00024, .Earth2-Earth_00025, .Earth2-Earth_00026, .Earth2-Earth_00027, .Earth2-Earth_00028, .Earth2-Earth_00029, .Earth2-Earth_00030, .Earth2-Earth_00031, .Earth2-Earth_00032, .Earth2-Earth_00033, .Earth2-Earth_00034, .Earth2-Earth_00035, .Earth2-Earth_00036, .Earth2-Earth_00037, .Earth2-Earth_00038, .Earth2-Earth_00039, .Earth2-Earth_00040, .Earth2-Earth_00041, .Earth2-Earth_00042, .Earth2-Earth_00043, .Earth2-Earth_00044 {
  background-image: url('/components/Earth2-s7080e3dd7d.png');
  background-repeat: no-repeat;
}

.Earth2-Earth_00000 {
  background-position: 0 0;
}

.Earth2-Earth_00001 {
  background-position: 0 -504px;
}

.Earth2-Earth_00002 {
  background-position: 0 -1008px;
}

.Earth2-Earth_00003 {
  background-position: 0 -1512px;
}

.Earth2-Earth_00004 {
  background-position: 0 -2016px;
}

.Earth2-Earth_00005 {
  background-position: 0 -2520px;
}

.Earth2-Earth_00006 {
  background-position: 0 -3024px;
}

.Earth2-Earth_00007 {
  background-position: 0 -3528px;
}

.Earth2-Earth_00008 {
  background-position: 0 -4032px;
}

.Earth2-Earth_00009 {
  background-position: 0 -4536px;
}

.Earth2-Earth_00010 {
  background-position: 0 -5040px;
}

.Earth2-Earth_00011 {
  background-position: 0 -5544px;
}

.Earth2-Earth_00012 {
  background-position: 0 -6048px;
}

.Earth2-Earth_00013 {
  background-position: 0 -6552px;
}

.Earth2-Earth_00014 {
  background-position: 0 -7056px;
}

.Earth2-Earth_00015 {
  background-position: 0 -7560px;
}

.Earth2-Earth_00016 {
  background-position: 0 -8064px;
}

.Earth2-Earth_00017 {
  background-position: 0 -8568px;
}

.Earth2-Earth_00018 {
  background-position: 0 -9072px;
}

.Earth2-Earth_00019 {
  background-position: 0 -9576px;
}

.Earth2-Earth_00020 {
  background-position: 0 -10080px;
}

.Earth2-Earth_00021 {
  background-position: 0 -10584px;
}

.Earth2-Earth_00022 {
  background-position: 0 -11088px;
}

.Earth2-Earth_00023 {
  background-position: 0 -11592px;
}

.Earth2-Earth_00024 {
  background-position: 0 -12096px;
}

.Earth2-Earth_00025 {
  background-position: 0 -12600px;
}

.Earth2-Earth_00026 {
  background-position: 0 -13104px;
}

.Earth2-Earth_00027 {
  background-position: 0 -13608px;
}

.Earth2-Earth_00028 {
  background-position: 0 -14112px;
}

.Earth2-Earth_00029 {
  background-position: 0 -14616px;
}

.Earth2-Earth_00030 {
  background-position: 0 -15120px;
}

.Earth2-Earth_00031 {
  background-position: 0 -15624px;
}

.Earth2-Earth_00032 {
  background-position: 0 -16128px;
}

.Earth2-Earth_00033 {
  background-position: 0 -16632px;
}

.Earth2-Earth_00034 {
  background-position: 0 -17136px;
}

.Earth2-Earth_00035 {
  background-position: 0 -17640px;
}

.Earth2-Earth_00036 {
  background-position: 0 -18144px;
}

.Earth2-Earth_00037 {
  background-position: 0 -18648px;
}

.Earth2-Earth_00038 {
  background-position: 0 -19152px;
}

.Earth2-Earth_00039 {
  background-position: 0 -19656px;
}

.Earth2-Earth_00040 {
  background-position: 0 -20160px;
}

.Earth2-Earth_00041 {
  background-position: 0 -20664px;
}

.Earth2-Earth_00042 {
  background-position: 0 -21168px;
}

.Earth2-Earth_00043 {
  background-position: 0 -21672px;
}

.Earth2-Earth_00044 {
  background-position: 0 -22176px;
}
