@charset "UTF-8";
/* animation */
.animated.fast {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

.animated.slow {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.animated.reallyslow {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animated.delay-s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.animated.delay-m {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s; }

.animated.delay-l {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s; }

@-webkit-keyframes selfRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes selfRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes play {
  100% {
    background-position: 0 -20250px; } }

@keyframes play {
  100% {
    background-position: 0 -20250px; } }

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

.space-container {
  position: absolute;
  left: 50%;
  bottom: 8rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1; }
  .space-container .space-craft {
    width: 100px;
    height: 149px;
    background: url("../assets/images/SpaceCraft-sfbc4385e87.png") 0 0 no-repeat;
    margin: 0 auto;
    -webkit-animation: spaceCraftAnim 1s steps(7) infinite;
            animation: spaceCraftAnim 1s steps(7) infinite; }

@-webkit-keyframes spaceCraftAnim {
  100% {
    background-position: 0 -1043px; } }

@keyframes spaceCraftAnim {
  100% {
    background-position: 0 -1043px; } }

* {
  box-sizing: border-box;
  position: relative; }

body {
  background: #fafafa;
  font-family: 'Roboto', 'Noto Sans TC', "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", '新細明體', sans-serif;
  height: 100%;
  overflow: hidden; }
  body.initial {
    height: 100vh; }

h1, h2, h3, h4,
*.header {
  margin: 10px 0;
  font-weight: 700; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.2rem; }

a {
  text-decoration: none;
  outline: 0; }

p {
  line-height: 1.5rem; }

input, textarea {
  font-family: 'Roboto', 'Noto Sans TC', "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", '新細明體', sans-serif; }
  input:focus, input:active, textarea:focus, textarea:active {
    outline: none; }

textarea {
  resize: none; }

#loading {
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 999; }

.uil-ripple-css {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px; }
  .uil-ripple-css div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    border-width: 12px;
    border-style: solid;
    -webkit-animation: uil-ripple 2s ease-out infinite;
            animation: uil-ripple 2s ease-out infinite; }
    .uil-ripple-css div:nth-of-type(1) {
      border-color: #afafb7; }
    .uil-ripple-css div:nth-of-type(2) {
      border-color: #5ccdff;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }

#particle-js {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none; }

.top-static-bg {
  position: absolute;
  display: block;
  background-image: url("../assets/images/top_logo.png");
  background-position: 0 -125px;
  background-repeat: no-repeat;
  width: 273px;
  height: 165px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2; }
  .top-static-bg::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../assets/images/top_logo.png");
    background-position: 0 -290px;
    background-repeat: no-repeat;
    width: 273px;
    height: 165px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: .85s;
    transition: .85s;
    opacity: 0; }
  .top-static-bg.bright::before {
    opacity: 1; }
  .top-static-bg .image {
    display: block;
    position: absolute;
    background-image: url("../assets/images/top_logo.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 196px;
    height: 125px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 !important; }
    .top-static-bg .image img {
      width: 100%; }

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  -webkit-transform: translate(0, 56px);
          transform: translate(0, 56px); }
  #menu li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background: #10121b;
    height: 3.5rem; }
    #menu li::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      bottom: 100%;
      margin-left: -20px;
      opacity: 0;
      border: solid transparent;
      border-bottom-color: #10121b;
      border-width: 20px;
      pointer-events: none; }
    #menu li a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      line-height: 3.5rem;
      font-size: 1.25rem;
      color: #fff; }
    #menu li.active::before {
      opacity: 1; }
  #menu.bright li {
    background: #fff; }

.section .fp-tableCell {
  position: relative; }

.section .container {
  position: relative;
  max-width: 100%;
  z-index: 2; }

.section:nth-child(odd) {
  background: url("../assets/images/bg_light.png") 0 0 no-repeat;
  background-size: cover;
  color: #444; }

.section:nth-child(even) {
  background: url("../assets/images/bg_dark.png") 0 0 no-repeat;
  background-size: cover;
  color: #fff; }

.section#page1 .title-segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem; }

.section#page1 .image-title {
  display: block;
  opacity: 0; }
  .section#page1 .image-title:first-child {
    background: url("../assets/images/title.png") 0 0 no-repeat;
    background-size: cover;
    width: 960px;
    height: 80px; }
  .section#page1 .image-title:last-child {
    background: url("../assets/images/title.png") -962px 0 no-repeat;
    background-size: cover;
    width: 560px;
    height: 80px; }

@media (max-width: 1200px) {
  .section#page1 .image-title:first-child {
    width: 820px;
    height: 68px; }
  .section#page1 .image-title:last-child {
    background-position: -760px 0;
    width: 455px;
    height: 63px; } }

@media (max-width: 768px) {
  .section#page1 .image-title:first-child {
    width: 480px;
    height: 60px; }
  .section#page1 .image-title:last-child {
    background-position: -628px 0;
    width: 360px;
    height: 52px; } }

@media (max-width: 550px) {
  .section#page1 .title-segment {
    padding-top: 0; }
  .section#page1 .image-title:first-child {
    width: 320px;
    height: 40px; }
  .section#page1 .image-title:last-child {
    background-position: -432px 0;
    width: 255px;
    height: 36px; } }

.section#page1 .fp-tableCell {
  overflow: hidden; }

.section#page2 .container {
  padding-top: 100px; }
  .section#page2 .container .main-column {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.section#page2 .tech-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .section#page2 .tech-container .segment {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section#page2 .tech-container .segment .title, .section#page2 .tech-container .segment .image {
      display: block;
      background-image: url("../assets/images/Design_270-s4f3ba2c5af.png"); }
    .section#page2 .tech-container .segment .title {
      width: 180px;
      height: 41px; }
    .section#page2 .tech-container .segment .image {
      width: 270px;
      height: 244px; }
    .section#page2 .tech-container .segment p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: 5px; }
  .section#page2 .tech-container.left .segment:first-child .title {
    background-position: 0 -244px; }
  .section#page2 .tech-container.left .segment:first-child .image {
    background-position: 0 0; }
  .section#page2 .tech-container.left .segment:last-child .title {
    background-position: 0 -529px; }
  .section#page2 .tech-container.left .segment:last-child .image {
    background-position: 0 -285px; }
  .section#page2 .tech-container.right .segment:first-child .title {
    background-position: 0 -814px; }
  .section#page2 .tech-container.right .segment:first-child .image {
    background-position: 0 -570px; }
  .section#page2 .tech-container.right .segment:last-child .title {
    background-position: 0 -1099px; }
  .section#page2 .tech-container.right .segment:last-child .image {
    background-position: 0 -855px; }

@media (max-width: 1200px) {
  .section#page2 .tech-container .segment {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-transform: scale(0.85);
            transform: scale(0.85); } }

@media (max-width: 990px) {
  .section#page2 .container {
    padding-top: 175px;
    padding-bottom: 100px; }
  .section#page2 .main-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5rem; } }

@media (max-width: 550px) {
  .section#page2 .tech-container {
    width: 100%;
    height: 260px; }
    .section#page2 .tech-container .segment {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      width: 50vw;
      -webkit-transform: scale(0.5);
              transform: scale(0.5); }
      .section#page2 .tech-container .segment:first-child {
        padding-left: 2rem; }
      .section#page2 .tech-container .segment:last-child {
        padding-right: 2rem; }
      .section#page2 .tech-container .segment p {
        white-space: pre; } }

.section#page3 .container {
  padding-top: 210px; }

.section#page3 .proc-container {
  min-height: 650px; }

.section#page3 .proc-segment,
.section#page3 .proc-detail {
  top: 50%;
  left: 50%; }

.section#page3 .proc-segment {
  position: absolute;
  opacity: 0; }
  .section#page3 .proc-segment img {
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .section#page3 .proc-segment::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    top: -5px;
    background-image: url("../assets/images/proc/bg-light.png");
    background-size: cover;
    display: inline-block;
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: scale(1);
            transform: scale(1);
    pointer-events: none;
    z-index: 1; }
  .section#page3 .proc-segment.hoverable:hover img {
    z-index: 2; }
  .section#page3 .proc-segment.hoverable:hover::before {
    opacity: 1; }
  .section#page3 .proc-segment:first-child {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
            transform: translateX(-50%) translateY(-50%) rotate(180deg); }
  .section#page3 .proc-segment:nth-child(2) {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
            transform: translateX(-50%) translateY(-50%) rotate(180deg); }
  .section#page3 .proc-segment:nth-child(3) {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-180deg);
            transform: translateX(-50%) translateY(-50%) rotate(-180deg); }
  .section#page3 .proc-segment:nth-child(4) {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-180deg);
            transform: translateX(-50%) translateY(-50%) rotate(-180deg); }

.section#page3 .proc-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 334px;
  height: 295px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  font-size: 1.25rem;
  color: #444; }
  .section#page3 .proc-detail img {
    width: 100%; }
  .section#page3 .proc-detail .msg {
    position: absolute;
    left: 50%;
    top: 1.5rem;
    padding: 0 10px;
    width: 190px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .section#page3 .proc-detail .msg .source {
      display: none; }
    .section#page3 .proc-detail .msg p.header {
      text-align: center; }
      .section#page3 .proc-detail .msg p.header span {
        margin: 0 1px 1rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.8rem; }
    .section#page3 .proc-detail .msg p.content span {
      font-size: initial; }

.section#page3 .intro-segment {
  margin-bottom: 1.25rem; }
  .section#page3 .intro-segment .title {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd; }
  .section#page3 .intro-segment p {
    font-size: 1.2rem;
    line-height: 2rem; }

.section#page3 .tech-carousel-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 4rem; }
  .section#page3 .tech-carousel-container .cloud9-carousel {
    width: 100%;
    height: 150px; }
    .section#page3 .tech-carousel-container .cloud9-carousel .cloud9-item {
      width: 300px;
      cursor: pointer; }

.section#page3 .tech-column-list {
  display: none;
  width: 100%;
  padding-bottom: 6rem; }
  .section#page3 .tech-column-list img {
    width: 100%; }

@media (max-width: 768px) {
  .section#page3 .tech-carousel-container {
    display: none; }
  .section#page3 .tech-column-list {
    display: block; } }

@media (max-width: 550px) {
  .section#page3 .container {
    padding-top: 120px; }
  .section#page3 .proc-container {
    min-height: 450px; }
  .section#page3 .proc-detail {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 167px;
    height: 147.5px; }
    .section#page3 .proc-detail img {
      width: 100%; } }

.section#page4 .main-column {
  height: 100vh; }

.section#page4 .projects {
  background: #2b2b2b;
  width: 320px;
  position: absolute !important;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 3; }
  .section#page4 .projects#projects-mb {
    display: none;
    width: 100%;
    height: 240px;
    top: initial;
    bottom: -15px;
    box-shadow: 0px -4px 6px 0px #3d3d3d, 0 -2px 10px 4px #ccc;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
    .section#page4 .projects#projects-mb .projects-list {
      min-width: 100%;
      padding: 10px 0; }
    .section#page4 .projects#projects-mb .project-link {
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }
    .section#page4 .projects#projects-mb .project-item:not(:first-child) {
      margin-top: 0; }
    .section#page4 .projects#projects-mb .project-item {
      padding-right: 4px;
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      opacity: 0; }
  .section#page4 .projects .projects-list {
    margin: 0;
    padding: 20px;
    text-align: center; }
    .section#page4 .projects .projects-list .project-item#project-template, .section#page4 .projects .projects-list .project-item#project-template2 {
      display: none; }
    .section#page4 .projects .projects-list .project-item:not(:first-child) {
      margin-top: 20px; }
    .section#page4 .projects .projects-list .project-item {
      padding-right: 4px;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: 0; }
  .section#page4 .projects .project-link {
    border: 1px solid #313131;
    display: inline-block;
    position: relative;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer; }
    .section#page4 .projects .project-link img {
      display: block;
      width: 100%; }
    .section#page4 .projects .project-link .info {
      position: relative;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.25rem;
      color: #fff;
      opacity: 0;
      -webkit-transition: .3s;
      transition: .3s; }
    .section#page4 .projects .project-link:hover, .section#page4 .projects .project-link.active {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
      .section#page4 .projects .project-link:hover .info, .section#page4 .projects .project-link.active .info {
        background: rgba(0, 0, 0, 0.45);
        opacity: 1; }
    .section#page4 .projects .project-link:hover {
      -webkit-transition: .35s;
      transition: .35s; }
    .section#page4 .projects .project-link.active {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: .5s;
      transition: .5s; }
      .section#page4 .projects .project-link.active .info {
        opacity: 0; }

.section#page4 [data-scrollbar], .section#page4 [scrollbar], .section#page4 scrollbar {
  display: block;
  position: relative; }
  .section#page4 [data-scrollbar] .scroll-content, .section#page4 [scrollbar] .scroll-content, .section#page4 scrollbar .scroll-content {
    height: 100vh;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    width: 100%;
    will-change: transform; }
    .section#page4 [data-scrollbar] .scroll-content:hover + .scrollbar-track > .scrollbar-thumb, .section#page4 [scrollbar] .scroll-content:hover + .scrollbar-track > .scrollbar-thumb, .section#page4 scrollbar .scroll-content:hover + .scrollbar-track > .scrollbar-thumb {
      opacity: 1; }
  .section#page4 [data-scrollbar] .scrollbar-track, .section#page4 [scrollbar] .scrollbar-track, .section#page4 scrollbar .scrollbar-track {
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity .5s ease-out, background .5s ease-out;
    transition: opacity .5s ease-out, background .5s ease-out;
    background: none; }
    .section#page4 [data-scrollbar] .scrollbar-track.show, .section#page4 [data-scrollbar] .scrollbar-track:hover, .section#page4 [scrollbar] .scrollbar-track.show, .section#page4 [scrollbar] .scrollbar-track:hover, .section#page4 scrollbar .scrollbar-track.show, .section#page4 scrollbar .scrollbar-track:hover {
      opacity: 1; }
  .section#page4 [data-scrollbar] .scrollbar-track-y, .section#page4 [scrollbar] .scrollbar-track-y, .section#page4 scrollbar .scrollbar-track-y {
    top: 0;
    right: 0;
    width: 5px;
    height: 100%; }
  .section#page4 [data-scrollbar] .scrollbar-thumb, .section#page4 [scrollbar] .scrollbar-thumb, .section#page4 scrollbar .scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 250px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
  .section#page4 [data-scrollbar] .overscroll-flow, .section#page4 [scrollbar] .overscroll-flow, .section#page4 scrollbar .overscroll-flow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .section#page4 [data-scrollbar].sticky .scrollbar-track, .section#page4 [scrollbar].sticky .scrollbar-track, .section#page4 scrollbar.sticky .scrollbar-track {
    background: rgba(255, 255, 255, 0.1); }

.section#page4 .video-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.section#page4 #demo-video {
  opacity: 0; }

.section#page4 .video-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background: rgba(0, 0, 0, 0.4);
  margin-top: -3rem;
  padding: 2rem 1.8rem 10rem;
  font-size: 1rem; }
  .section#page4 .video-description .title {
    min-height: 45px;
    padding-bottom: 1rem;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.65);
    letter-spacing: 2px; }
  .section#page4 .video-description .source {
    display: none; }
  .section#page4 .video-description .dest {
    width: 100%; }

@media (max-width: 1200px) {
  .section#page4 .container .aside-column {
    display: none; }
  .section#page4 .main-column {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    float: none; }
    .section#page4 .main-column .video-container {
      margin-left: 0; }
    .section#page4 .main-column #demo-video {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      height: 420px;
      -webkit-transform: scale(1);
              transform: scale(1); }
    .section#page4 .main-column .video-description {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      min-height: 420px;
      max-height: 420px;
      padding: .8rem 1.5rem;
      font-size: 1rem; }
      .section#page4 .main-column .video-description .title {
        padding-bottom: .5rem;
        min-height: 40px;
        font-size: 1.5rem; }
  .section#page4 .projects#projects-pc {
    display: none; }
  .section#page4 .projects#projects-mb {
    display: block; }
    .section#page4 .projects#projects-mb .project-item {
      padding: 0 4px; }
    .section#page4 .projects#projects-mb .project-link .info {
      font-size: 1.25rem; }
    .section#page4 .projects#projects-mb .project-link.active {
      -webkit-transform: scale(1);
              transform: scale(1); } }

@media (max-width: 990px) {
  .section#page4 .container .columns {
    margin-left: 0; }
  .section#page4 .projects#projects-mb .project-link .info {
    font-size: 1rem; }
  .section#page4 .main-column .video-description .title {
    min-height: 32px;
    font-size: 1.25rem; } }

@media (max-width: 768px) {
  .section#page4 .main-column .video-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .section#page4 .main-column .video-description {
    background: -webkit-linear-gradient(40deg, rgba(200, 200, 200, 0.4), rgba(0, 0, 0, 0.4));
    background: linear-gradient(50deg, rgba(200, 200, 200, 0.4), rgba(0, 0, 0, 0.4));
    min-height: 160px;
    max-height: 160px;
    margin-left: 0;
    margin-top: 6px;
    margin-bottom: 3rem;
    padding: .5rem 1.2rem;
    font-size: .75rem; }
    .section#page4 .main-column .video-description .title {
      min-height: 28px;
      margin: 6px 0;
      padding-bottom: .6rem;
      font-size: 1rem; }
  .section#page4 .projects#projects-mb .project-link .info {
    font-size: .8rem; } }

@media (max-width: 550px) {
  .section#page4 .container {
    padding-top: 100px; }
  .section#page4 .main-column {
    width: 100%;
    height: auto; }
  .section#page4 #demo-video {
    max-height: 200px; }
  .section#page4 .projects#projects-mb {
    height: 140px;
    bottom: 0; }
    .section#page4 .projects#projects-mb .project-item {
      max-width: 200px; }
    .section#page4 .projects#projects-mb .project-link .info {
      white-space: normal;
      font-size: .5rem; } }

.section#page4 .fp-tableCell {
  overflow: hidden; }

@media (min-width: 768px) {
  .section#page5 .container {
    padding-top: 100px !important; } }

.section#page5 #contact-form {
  font-size: 1.25rem; }
  .section#page5 #contact-form .header {
    border-bottom: 1px solid #999;
    padding-bottom: 1rem; }
    .section#page5 #contact-form .header .mail {
      margin-left: 8px;
      font-size: 1.35rem;
      color: #1e5e95;
      -webkit-transition: .2s;
      transition: .2s; }
      .section#page5 #contact-form .header .mail:hover {
        color: #359ffb; }
  .section#page5 #contact-form .field {
    margin-top: 10px;
    padding: 4px 0; }
    .section#page5 #contact-form .field label {
      display: block;
      font-weight: 700;
      letter-spacing: 2px; }
    .section#page5 #contact-form .field input, .section#page5 #contact-form .field textarea {
      background: rgba(255, 255, 255, 0.92);
      width: 100%;
      margin-top: 8px;
      padding: 8px 10px;
      line-height: 1.25rem;
      border: 6px solid #ccc;
      box-shadow: inset 0 0 3px 1px #444;
      -webkit-transition: .35s;
      transition: .35s; }
      .section#page5 #contact-form .field input:focus, .section#page5 #contact-form .field textarea:focus {
        border: 6px solid #777; }
    .section#page5 #contact-form .field textarea {
      height: 120px; }
  .section#page5 #contact-form .action {
    margin-top: .5em; }
    .section#page5 #contact-form .action input[type="button"],
    .section#page5 #contact-form .action input[type="submit"] {
      padding: 8px 20px;
      font-size: 1.25rem;
      cursor: pointer; }
    .section#page5 #contact-form .action input[type="submit"] {
      background: #555;
      color: #fff;
      border: 6px solid #aaa;
      box-shadow: none;
      -webkit-transition: .35s;
      transition: .35s; }
      .section#page5 #contact-form .action input[type="submit"]:hover, .section#page5 #contact-form .action input[type="submit"]:focus {
        background: #eee;
        color: #111;
        border-color: #666;
        -webkit-transform: scaleX(1.15);
                transform: scaleX(1.15);
        -webkit-transform-origin: left;
                transform-origin: left; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  65% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  65% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@media (max-width: 768px) {
  .section#page5 .row.reverse-order {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -15px;
    margin-right: -15px; }
    .section#page5 .row.reverse-order .map-column {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-top: -1rem; }
    .section#page5 .row.reverse-order .form-column {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      padding-left: 15px;
      padding-right: 15px; }
  .section#page5 #contact-form .field textarea {
    height: 100px; } }

@media (max-width: 550px) {
  .section#page5 .container {
    padding-top: 60px;
    padding-bottom: 50px; }
  .section#page5 #contact-form {
    font-size: 1rem; }
    .section#page5 #contact-form .header {
      font-size: 1.5rem; }
      .section#page5 #contact-form .header span {
        display: block; }
      .section#page5 #contact-form .header .mail {
        margin-left: 0; }
    .section#page5 #contact-form .field {
      margin-top: 2px;
      padding: 4px 0; }
      .section#page5 #contact-form .field label {
        letter-spacing: 1px; }
      .section#page5 #contact-form .field input, .section#page5 #contact-form .field textarea {
        line-height: 1rem;
        border: 3px solid #ccc;
        box-shadow: inset 0 0 3px 1px #444; }
        .section#page5 #contact-form .field input:focus, .section#page5 #contact-form .field textarea:focus {
          border: 3px solid #777; }
    .section#page5 #contact-form .action input[type="submit"] {
      width: 100%;
      font-size: 1rem; }
      .section#page5 #contact-form .action input[type="submit"]:hover, .section#page5 #contact-form .action input[type="submit"]:focus {
        -webkit-transform: none;
                transform: none; }
    .section#page5 #contact-form textarea {
      height: 75px; } }

iframe {
  overflow: hidden; }

.embededchat-facebook-show-image-container {
  height: 3.5rem !important; }

#embededchat-facebook-container {
  left: auto !important;
  right: 1rem !important; }

#embededchat-facebook-show-button {
  display: block !important;
  position: fixed;
  left: auto;
  right: 0;
  width: 3.5rem !important;
  -webkit-transition: .4s;
  transition: .4s; }
  #embededchat-facebook-show-button.active {
    right: 1rem; }

#embedded-chat-facebook-side-text {
  display: none; }

#embededchat-facebook-logo {
  width: 36px !important;
  height: 36px !important;
  background-size: cover !important;
  margin-top: 4px !important; }

.mejs__overlay-button {
  background: url("../assets/images/mejs-controls.svg") no-repeat; }

.mejs__overlay-loading-bg-img {
  background: transparent url("../assets/images/mejs-controls.svg") -160px -40px no-repeat; }

.mejs__button > button {
  background: transparent url("../assets/images/mejs-controls.svg") no-repeat; }

@media (min-width: 550px) {
  .container {
    width: 100% !important; }
  .column, .columns {
    min-height: 1px; } }

@media (max-width: 768px) {
  .uil-ripple-css {
    width: 160px;
    height: 160px; }
    .uil-ripple-css div {
      border-width: 10px; }
  .top-static-bg {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: top;
            transform-origin: top; }
  #menu.typing {
    display: none; }
  #menu li {
    height: 3rem; }
    #menu li a {
      font-size: 1rem;
      line-height: 3rem; } }

@media (max-width: 550px) {
  .uil-ripple-css {
    width: 120px;
    height: 120px; }
    .uil-ripple-css div {
      border-width: 8px; }
  #menu li a {
    font-size: .85rem; }
  .top-static-bg {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: top;
            transform-origin: top; } }
