doctype html
html
	head
	title WLai
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='author', content='David-Tsui')
	meta(property='og:image', content='https://unicornskincare.com/assets/images/facebook/home.jpg')
	meta(property='og:url', content='https://unicornskincare.com/zh-tw?')
	meta(property='og:site_name', content='WILAI STUDIO')
	meta(property='fb:app_id', content='1578525035734463')
	meta(property='og:type', content='article')
	meta(property='og:locale', content='zh_TW')
	link(href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	link(rel="stylesheet" href="./stylesheets/reset.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
	link(rel='stylesheet', type='text/css', href='./stylesheets/app.min.css')
	link(rel='stylesheet', type='text/css', href='./stylesheets/vendor.min.css')
	block css
	body.initial
		block content
		#fb-root
		#loading
			.uil-ripple-css
				div
				div
		#particle-js
		ul#menu
			li(data-menuanchor="index")
				a(href="#index") 威萊首頁
			li(data-menuanchor="service")
				a(href="#service") 產品服務
			li(data-menuanchor="intro")
				a(href="#intro") 關於威萊
			li(data-menuanchor="demo")
				a(href="#demo") 作品展示
			li(data-menuanchor="contact")
				a(href="#contact") 聯絡我們
		.chat-panel
			.chat-panel-logo
				img(src="https://s3.amazonaws.com/codyiddings-2016/messengerIcon.svg")
			.chat-panel-title
				span 與我們交談
				span 交談
		.chat-box
			.chat-box-title Facebook Messenger
			.fb-page(data-tabs='messages', data-href='https://www.facebook.com/wilai.animation' data-width="280" data-height="360" data-small-header="true" data-hide-cover="false" data-adapt-container-width="true")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
	script(src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
	script(src="./scripts/vendor.min.js")
	script(src="./scripts/app.min.js")

	block js
