.main-column {
	height: 100vh;
}

.projects {
	&#projects-mb {
		display: none;
		width: 100%;
		height: 240px;
		top: initial;
		bottom: -15px;
		box-shadow: 0px -4px 6px 0px rgb(61, 61, 61), 0 -2px 10px 4px #ccc;
		transform: translateY(100%);
		.projects-list {
			min-width: 100%;
			padding: 10px 0;
		}
		.project-link {
			filter: grayscale(0);
		}
		.project-item:not(:first-child) {
			margin-top: 0;
		}
		.project-item {
			padding-right: 4px;
			transform: translateY(100%);
			opacity: 0;
		}
	}
	background: rgb(43,43,43);
	width: 320px;
	position: absolute !important;
	top: 0;
	left: 0;
	overflow: hidden;
	transform: translateX(-100%);
	z-index: 3;
	.projects-list {
		margin: 0;
		padding: 20px;
		text-align: center;
		.project-item#project-template, .project-item#project-template2 {
			display: none;
		}
		.project-item:not(:first-child) {
			margin-top: 20px;
		}
		.project-item {
			padding-right: 4px;
			transform: translateX(-100%);
			opacity: 0;
		}
	}
	.project-link {
		border: 1px solid #313131;
		display: inline-block;
		position: relative;
		filter: grayscale(100%);
		transition: .5s;
		cursor: pointer;
		img {
			display: block;
			width: 100%;
		}
		.info {
			@include EasyCenter($inline: true);
			@include AbsElem($fill: true);
			overflow: hidden;
			white-space: nowrap;
			font-size: 1.25rem;
			color: #fff;
			opacity: 0;
			transition: .3s;
		}
		&:hover, &.active {
			-webkit-filter: grayscale(0);
			filter: grayscale(0);
			.info {
				background: rgba(0,0,0,.45);
				opacity: 1;
			}
		}
		&:hover {
			transition: .35s;
		}
		&.active {
			transform: scale(1.1);
			transition: .5s;
			.info {
				opacity: 0;
			}
		}
	}
}

[data-scrollbar], [scrollbar], scrollbar {
	display: block;
	position: relative;
	.scroll-content {
		height: 100vh;
		transform: translateZ(0);
		width: 100%;
		will-change: transform;
		&:hover {
			& + .scrollbar-track > .scrollbar-thumb {
				opacity: 1;
			}
		}
	}
	.scrollbar-track {
		position: absolute;
		opacity: 0;
		z-index: 1;
		transition: opacity .5s ease-out, background .5s ease-out;
		background: none;
		&.show, &:hover {
			opacity: 1;
		}
	}
	.scrollbar-track-y {
		top: 0;
		right: 0;
		width: 5px;
		height: 100%;
	}
	.scrollbar-thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 5px;
		height: 250px;
		background: hsla(0, 0%, 100%, .2);
		border-radius: 3px;
		opacity: 0;
		transition: opacity .3s;
	}
	.overscroll-flow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%
	}
	&.sticky .scrollbar-track {
		background: hsla(0, 0%, 100%, .1);
	}
}

.video-container {
	@include EasyCenter();
	height: 100%;
}

#demo-video {
	// width: 100%;
	// height: 100%;
	opacity: 0;
	// transform: scale(0);
}

.video-description {
	display: flex;
	align-items: center;
	@include AbsElem($top-right: true);
	bottom: 0;
	width: 400px;
	background: rgba(0,0,0,.4);
	margin-top: -3rem;
	padding: 2rem 1.8rem 10rem;
	font-size: 1rem;
	.title {
		min-height: 45px;
		padding-bottom: 1rem;
		border-bottom : 1px dashed rgba(255,255,255,.65);
		letter-spacing: 2px;
	}
	.source {
		display: none;
	}
	.dest {
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.container {
		// padding-top: 200px !important;
		.aside-column {
			display: none;
		}
	}
	.main-column {
		width  : 90%;
		height: 100vh;
		margin : 0 auto;
		float  : none;
		.video-container {
			margin-left: 0;
		}
		#demo-video {
			flex: 2;
			height: 420px;
			transform: scale(1);
		}
		.video-description {
			flex: 1;
			min-height: 420px;
			max-height: 420px;
			padding: .8rem 1.5rem;
			font-size: 1rem;
			.title {
				padding-bottom: .5rem;
				min-height: 40px;
				font-size: 1.5rem;
			}
		}
	}
	.projects#projects-pc {
		display: none;
	}
	.projects#projects-mb {
		display: block;
		.project-item {
			padding: 0 4px;
		}
		.project-link {
			.info {
				font-size: 1.25rem;
			}
			&.active {
				transform: scale(1);
			}
		}
	}
}

@media (max-width: 990px) {
	.container {
		.columns {
			margin-left: 0;
		}
	}
	.projects#projects-mb {
		.project-link {
			.info {
				font-size: 1rem;
			}
		}
	}
	.main-column {
		.video-description {
			.title {
				min-height: 32px;
				font-size: 1.25rem;
			}
		}
	}
}

@media (max-width: 768px) {
	.main-column {
		.video-container {
			flex-direction: column;
		}
		.video-description {
			background: linear-gradient(50deg, rgba(200,200,200,.4),rgba(0,0,0,.4));
			min-height: 160px;
			max-height: 160px;
			margin-left: 0;
			margin-top: 6px;
			margin-bottom: 3rem;
			padding: .5rem 1.2rem;
			font-size: .75rem;
			.title {
				min-height: 28px;
				margin: 6px 0;
				padding-bottom: .6rem;
				font-size: 1rem;
			}
		}
	}
	.projects#projects-mb {
		.project-link {
			.info {
				font-size: .8rem;
			}
		}
	}
}

@media (max-width: 550px) {
	.container {
		padding-top: 100px;
	}
	.main-column {
		width: 100%;
		height: auto;
	}
	#demo-video {
		max-height: 200px;
	}
	.projects#projects-mb {
		height: 140px;
		bottom: 0;
		.project-item {
			max-width: 200px;
		}
		.project-link {
			.info {
				white-space: normal;
				font-size: .5rem;
			}
		}
	}
}